/* CSS files add styling rules to your content */

body {
  background-color: black;
}

h1 {
  color: #ffffff;
  font-family:Georgia, serif;
  text-align:center;
  font-size:50px;
}

img {
  x=40
  width:40%;
  height:40%;
}