/* CSS files add styling rules to your content */

body {
  background-color: black;
}

h1 {
  color: #ffffff;
  font-family:Georgia, serif;
  text-align:center;
  font-size:50px;
}

h2 {
  color: #ffffff;
  font-family:Georgia, serif;
  text-align:center;
}

img {
  width:15%;
  height:15%;
}

/*tile container*/


/* Ombres*/

.tellyoumore{
  position: absolute;
  left: 150px;
  font-family:Georgia, serif;
  font-size:120%;
}

.areyoudone{
  position: absolute;
  right: 150px;
  font-family:Georgia, serif;
  font-size:120%;
}

/* LINK COLORS*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
   color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}